/* App section */
.App {
  text-align: center;
} .App-logo {
  height: 5em;
  pointer-events: none;
} .App-logo-footer {
  height: 3em;
} .App-logo-spin {
  animation: App-logo-spin infinite 20s linear;
} .App-header {
  font-size: 5em;
  font-family: 'Bungee', cursive;
  cursor: default;
} .App-link {
  color: #61dafb;
}
/* End of App section */

/* Investments section */
#NewInvestment {
  cursor: pointer;
} .NewRecord {
  color: #bbb;
  font-family: 'Bungee', cursive;
}
/* End of Investments section */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
